*{
    margin: 0;
    padding: 0;
}
body
{
    background-color: rgb(226, 217, 242);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main
{
    background-color: white;
    border-radius: 20px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 80px;
    box-shadow: 1px 4px 8px 1px rgb(0, 0, 0,0.49);
}
.heading
{
    text-decoration: underline;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 60px;
}
h3
{
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 10px;
}
input[type=email]
{
    width: 300px;
    height: 22px;
    margin-left: 76px;
    font-size: 15px;
}
.email
{
    margin-bottom: 25px;
}
input[type=text]
{
    width: 300px;
    height: 22px;
    font-size: 15px;
}
#fIP
{
    margin-left: 20px;
}
.lab
{
    display: inline-block;
}
.IP
{
    display: inline-block;
    margin-left: 41px;
}
.lab1
{
    display: inline-block;
}
.IP1
{
    display: inline-block;
    margin-left: 44px;
}
.lab2
{
    display: inline-block;
}
.IP2
{
    display: inline-block;
    margin-left: 17px;
    margin-bottom: 25px;
}
#gender
{
    margin-top: -10px;
    margin-bottom: 10px;
}
input[type=radio]
{
    margin-bottom: 10px;
}
.gender
{
    padding-bottom: 15px;
}
.male
{
    display: inline-block;
}
.female
{
    display: inline-block;
    margin-left: 20px;
}
.add_lab
{
    display: inline-block;
}
.add_IP
{
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 10px;
}
.add_lab2
{
    display: inline-block;
}
.add_IP2
{
    display: inline-block;
    margin-left: 80px;
    margin-bottom: 10px;
}
.add_lab3
{
    display: inline-block;
}
.add_IP3
{
    display: inline-block;
    margin-left: 73px;
    margin-bottom: 10px;
}
.add_lab4
{
    display: inline-block;
}
.add_IP4
{
    display: inline-block;
    margin-left: 52px;
}
#country
{
    width: 300px;
    height: 22px;
    font-size: 15.5px;
}
.address
{
    padding-bottom: 25px;
}
#phone
{
    margin-left: 8px;
    height: 22px;
    font-size: 15.5px;
}
input[type=number]
{
    width: 230px;
    height: 22px;
    font-size: 15px;
}
.phone
{
    padding-bottom: 25px;
}
#resume
{
    margin-left: 60px;
}
.resume
{
    padding-bottom: 25px;
}
.cover_letter
{
    padding-bottom: 25px;
}
#cover
{
    margin-top: 10px;
}
.terms
{
    margin-top: 10px;
    margin-bottom: 10px;
}
button
{
    color: white;
    background-color: rgb(51, 134, 249);
    padding-bottom: 5px;
    padding-top: 5px;
    /* 
    padding-left: 7px;
    padding-right: 7px; */
    border-radius: 5px;
    width: 100px;
    margin-left: 275px;
    margin-top: 30px;
    margin-bottom: -200px;
    font-size: 15px;
    font-weight: bolder;
}
